    {% extends 'base.html' %}  <!-- #声明扩展自模板 base.html, 可以理解成 这个模板继承自 base.html #-->
    <!--这里的内容会插入到基模板中content块的位置--默认覆盖 ##-->
    {% block content %}   
    <p>{{ movies|length }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.year }}
        <!--添加IMDb链接#--> 
        <span class="float-right">  
            <a class="douban" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank" title="Find this movie on douban">douban</a>
        </span>
    </li>
    {% endfor %}
</ul>
    <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
    <footer>
        <small>&copy; 2024 <a href="http://helloflask.com/book/3">HelloFlask</a></small>
    </footer>
</body>
{% endblock %}